<script src="https://giscus.app/client.js"
  data-repo="{{ site.Params.giscus.data_repo }}"
  data-repo-id="{{ site.Params.giscus.data_repo_id }}"
  data-category="{{ site.Params.giscus.data_category }}"
  data-category-id="{{ site.Params.giscus.data_category_id }}"
  data-mapping="{{ site.Params.giscus.data_mapping }}"
  data-strict="{{ site.Params.giscus.data_strict}}"
  data-reactions-enabled="{{ site.Params.giscus.data_reactions_enabled }}"
  data-emit-metadata="{{ site.Params.giscus.data_emit_metadata }}"
  data-input-position="{{ site.Params.giscus.data_input_position }}"
  data-theme="preferred_color_scheme"
  data-lang="{{ i18n "giscus_lang" }}"
  data-loading="lazy"
  crossorigin="anonymous"
  async>
</script>