<div class="git-tools">
    {% if site.github.repository_url %}
        {% if site.disable_edit != true %}
            <span class="tools-element">
                <a href="{{ '/text-editor.html' | relative_url }}"><i class="fa-solid fa-plus"></i> Add new</a>
            </span>
            <span class="tools-element">
                <a target="_blank" href="{{ site.github.repository_url }}/edit/{{ site.git_branch | escape }}{{ site.site_root | default: '/' }}_posts/{{ page.path | remove: '_posts/' | escape }}"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
            </span>
        {% endif %}
        
        <span class="tools-element">
            <a target="_blank" href="{{ site.github.repository_url }}/commits/{{ site.git_branch | escape }}{{ site.site_root | default: '/' }}_posts/{{ page.path | remove: '_posts/' | escape }}"><i class="fa-solid fa-landmark"></i> History</a>
        </span>
        <span class="tools-element">
            <a target="_blank" href="{{ site.github.repository_url }}/blob/{{ site.git_branch | escape }}{{ site.site_root | default: '/' }}_posts/{{ page.path | remove: '_posts/' | escape }}"><i class="fa-solid fa-code"></i> Source</a>
        </span>
    {% endif %}
</div>
<style>
    .tools-element {
    margin-right: 10px; /* Menambahkan jarak antar elemen */
}

</style>