@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;
// ALERT CARD
.alert {
  padding: 1rem;
  margin: 0.25rem auto;
  border: 5px solid transparent;
  border-radius: 1rem;
  box-shadow: var(--shadow-md);
  font-style: normal;
  @include m.transition(box-shadow, transform);

  &__header {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    color: red;
  }

  &__title {
    color: inherit;
  }

  &__icon {
    font-size: v.$font__size--6xl;
  }

  &:hover {
    box-shadow: var(--shadow-lg);
    transform: translateY(-3px);
  }

  &--default-color,
  &--blockquote {
    border-left-color: var(--accent-first);

    .alert__title,
    .alert__icon {
      color: var(--accent-first);
    }
  }

  &--default-color {
    border-right-color: var(--accent-first);
  }

  &--blockquote {
    border-right-color: transparent;
  }

  @each $type, $color in (
    tip: var(--alert-tip),
    info: var(--alert-info),
    success: var(--alert-success),
    warning: var(--alert-warning),
    danger: var(--alert-danger),
    error: var(--alert-error),
    bug: var(--alert-bug),
    note: var(--alert-note),
    abstract: var(--alert-abstract),
    todo: var(--alert-todo),
    question: var(--alert-question),
    failure: var(--alert-failure),
    example: var(--alert-example),
    quote: var(--alert-quote),
    important: var(--alert-important)
  ) {
    &--#{$type} {
      border-left-color: $color;
      border-right-color: $color;

      .alert__title,
      .alert__icon,
      .alert__header {
        color: $color;
      }
    }
  }
}