{{ define "main" }}
<main class="u-container main">
  <div class="main__layout">
    <article class="markdown">
      {{ .Content | safeHTML }}
    </article>
  </div>

  {{ if eq .Kind "term" }}
    <div class="main__layout main__layout--grid">
      {{ partial "content/content-list.html" . }}
    </div>
    <div class="main__layout">
      <nav class="navbar navbar--pagination">
        <ul class="nav nav--row">
          {{ template "partials/inline/pagination/default" . }}
        </ul>
      </nav>
    </div>

  {{ else }}
    <div class="main__layout main__layout--text-center">
      <h1>{{ .Title | title }}</h1>
      {{ partial "content/taxonomy-cloud.html" . }}
    </div>
  {{ end }}
</main>
{{ end }}