@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;
.main {
  padding-inline: 1rem;
  min-height: 100vh;
  &__layout {

    &--grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 1.5rem;
      padding: 1rem 0;
    }

    &--text-center {
      text-align: center;
    }
  }
}

.hero {
  text-align: center;
  border-bottom: 1px solid var(--border-first);

  h1 {font-size: v.$font__size--8xl!important;}
}
.post-meta {
  display: none;
  font-size: v.$font__size--xs;
  @include m.min(md){
    @include m.flex-center;
    gap: 1rem;
    flex-wrap: wrap;
    padding-bottom: 1rem;
  }
}